{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="display-4">About our Meals</h1>
    <div class="row">
        <div class="col-md-3">
            <h2 class="fw-bold">Starter</h2>
            <p class="text-muted">Indulge in our savory starters, crafted to awaken your palate. From crispy spring rolls to flavorful soups, our starters set the tone for a delightful dining experience.</p>
        </div>
        <div class="col-md-3">
            <h2 class="fw-bold">Salad</h2>
            <p class="text-muted">Fresh, crisp, and deliciously healthy, our salads are a symphony of flavors and textures. Enjoy seasonal ingredients, carefully selected to nourish your body and soul.</p>
        </div>
        <div class="col-md-3">
            <h2 class="fw-bold">Main Dish</h2>
            <p class="text-muted">Savor our mouth-watering main dishes, expertly prepared to satisfy your cravings. From tender meats to flavorful vegetarian options, our main dishes are a culinary journey.</p>
        </div>
        <div class="col-md-3">
            <h2 class="fw-bold">Dessert</h2>
            <p class="text-muted">Treat yourself to our decadent desserts, crafted to delight your sweet tooth. Rich, creamy, and indulgent, our desserts are the perfect finale to your meal.</p>
        </div>
    </div>
</div>
{% endblock content %}